doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="A step sequencer built using the Web Audio API")
    title Step
    link(rel='stylesheet', href='lib/build.css')
    link(rel='stylesheet', href='main.css')
    link(rel="icon", type="image/png", href="assets/favicon32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="assets/favicon16.png", sizes="16x16")
  body
    .board
      .pads
        #bass.pad
          i.fa.big
        #snare.pad
          i.fa.big
        #closedHat.pad
          i.fa.big
        #openHat.pad
          i.fa.big
        #clap.pad
          i.fa.big
      #bassTrack.sequencer
        .note.theone
        .note
        .note
        .note
        .note
        .note
        .note
        .note
        .note.theone
        .note
        .note
        .note
        .note
        .note
        .note
        .note
      #snareTrack.sequencer
        .note.theone
        .note
        .note
        .note
        .note
        .note
        .note
        .note
        .note.theone
        .note
        .note
        .note
        .note
        .note
        .note
        .note
      #closedHatTrack.sequencer
        .note.theone
        .note
        .note
        .note
        .note
        .note
        .note
        .note
        .note.theone
        .note
        .note
        .note
        .note
        .note
        .note
        .note
      #openHatTrack.sequencer
        .note.theone
        .note
        .note
        .note
        .note
        .note
        .note
        .note
        .note.theone
        .note
        .note
        .note
        .note
        .note
        .note
        .note
      #clapTrack.sequencer
        .note.theone
        .note
        .note
        .note
        .note
        .note
        .note
        .note
        .note.theone
        .note
        .note
        .note
        .note
        .note
        .note
        .note
      .timeline
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
        .tick
      .buttons
        .shiftLeft <
        .randomize ?
        .clear X
        .play PLAY
        //- .pause
        .stop STOP
        .tempo
          .minus -
          input.tempoEdit(value='115')
          .plus +
        .shiftRight >
    script(src='lib/build.js')
    script(src='lib/lowLag.js')
    script(src='lib/randomColor.js')
    script(src='main.js')
