body {
  background: #000;
  }

.pads, .sequencer, .timeline, .buttons {
  display: flex;
  justify-content: center;
}

.pad {
  width: 200px;
  height: 200px;
  background: #646464;
  margin: 10px;
  display: inline-block;
}

.big {
  font-size: 12.5em;
  text-align: center;
  width: 100%;
  line-height: 200px;
}

.sequencer {
  margin: 5px auto;
}

.note {
  margin: 0 2px;
  width: 40px;
  height: 80px;
  background: #212121;
  display: inline-block;
}

.theone {
  border-left: 5px solid #FAFAFA;
}

.trackNote {
  background: #646464;
}

.active {
  background: red;
}

.tick {
  height: 10px;
  width: 40px;
  margin: 0 2px;
  // background: #212121;
}

.play, .stop {
  width: 160px;
  height: 40px;
  background: #424242;
  color: #FAFAFA;
  text-align: center;
  font-size: 2em;
  margin: 5px;
  cursor: pointer;
}


